APP_NAME=Confiq
APP_VERSION=0.1.0
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me
HOST=0.0.0.0
PORT=8089
DATABASE_PATH=data/confiq.db
JWT_SECRET=change-me
JWT_EXPIRE=24h
LOG_LEVEL=info
OTP_USER=false
OTP_ADMIN=true
#frontend
VITE_DONATE_YOOMONEY_URL=https://yoomoney.ru/to/1234567891234567
VITE_DONATE_CLOUDTIP_URL=https://pay.cloudtips.ru/p/123abc456
